.idea
.vscode
.gradle
**/target/**
log/*
logs/*
*.iml
*.DS_Store

.project
.settings
*/.classpath
*/.project
*/.settings
*/.factorypath
*.gz

doc/db/*.mwb.bak
.tmp

idea
vsr
*/logs/*

**/.flattened-pom.xml
